/* .container {
  background-color: #333;
} */

.link {
  stroke: rgb(133, 133, 133);
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: rgb(255, 180, 5);
  stroke-width: 1.5px;
}

.node.fixed circle {
  fill: #f00;
}

.label {
  font-size: 10px;
  fill: #fff;
  user-select: none;
}