/* .container {
  background-color: #333;
} */

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.label {
  font-size: 10px;
  fill: #fff;
}