/* .container {
  background-color: #333;
} */

.link {
  stroke: rgb(165, 171, 182);
  stroke-width: 1px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: rgb(255, 180, 5);
  stroke-width: 1.5px;
}

.node.fixed circle {
  fill: #f00;
}

.label {
  font-size: 10px;
  fill: #000000;
  user-select: none;
}